.body{
    background-color: blue;
}
.mamaco2{
    padding-left: 115px;
    padding-top: 45px;
    margin-top: 20px;
}
.mamaco1{
    border-radius: 10px;
    width: 110%;
    margin-top: 20px;
}
.titulo{
    padding-left: 480px;
    color: #b4b4b4;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    background-color: gray;
    border-radius: 10px;
}
.mamaconote1{
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
}
.perg{
    padding-left: 360px;
    margin-top: 30px;
}
.acerto{
    padding-left: 465px;
    padding-top: 370px;
    font-size: 70px;
}
.erro{
    padding-left: 465px;
    padding-top: 370px;
    font-size: 70px;
}